* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #f4f6f8;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 0;
  box-shadow: none;
  display: flex;
  flex-direction: column;
}

.header {
  height: 100px;
  background: #1f3c88;
  color: white;
  font-size: 48px;
}
.header iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.content {
  display: flex;
  flex: 1;
  min-height: 0;
}

.menu {
  width: 250px;
  background: #f7f9fc;
  border-right: 1px solid #ddd;
}
.menu iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.utama {
  flex: 1;
  background: #fff;
}
.utama iframe {
  width: 100%;
  height: 100%;
  border: none;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
  .menu {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #ddd;
  }
}